In [7]:
class calculator:
    def add(self,a,b):
        print(a+b)
        
    def add(self,a,b,c):
        print(a+b+c)
calculator.add(2,3,4)
        
# obj = calculator()
# obj.add(2,3,4)

TypeError: calculator.add() missing 1 required positional argument: 'c'

In [12]:
class Animal:
    def speak(self):
        print('animal speaks')
class Dog(Animal):
    def speak1(self):
        print('dog barks')
class Cat(Animal):
    def speak(self):
        print('cat meow')
        
dog = Dog()
cat = Cat()
dog.speak()

animal speaks

In [8]:
class A:
    __a = 10
    _b = 20
    def show(self):
        print('a', self.__a)
        print('b', self._b)
obj = A()
obj.show()
print(obj._b)
print(obj._A__a)

a 10
b 20
20
10

In [10]:
class calculator:
    def add(a,b):
        return a+b
    def add (a,b,c):
        return a+b+c
obj = calculator
obj.add(2,3)

TypeError: calculator.add() missing 1 required positional argument: 'c'

In [2]:
class BankAccount:
    def __init__(self,account_no,balance):
        self._account_no = account_no
        self.__balance = balance
    
    def deposit(self,amount):
        self.__balance += amount
    def withdraw(self,amount):
        if self.__balance >= amount:
            self.__balance -= amount
        else:
            print('insufficient balance')
            
    def get_balance(self):
        return self.__balance
    def get_account_no(self):
        return self._account_no
    
account1 = BankAccount('2322352',1000)
print('account no', account1.get_account_no())

account no 2322352

In [5]:
class A:
    _a = 10
    __b = 20
    def show(self):
        print("a" ,self._a)
        print("b", self.__b)
obj = A()
obj.show()
print(obj._a)
print(obj.__b) #_A__b  mangled name  by this we can access the private element also.

a 10
b 20
10

AttributeError: 'A' object has no attribute '__b'

In [40]:
class Animal:
    def speak(self):
        print('animal speak')
        
class Dog(Animal):
    def speak1(self):
        #super().speak()
        print('dog barks')
        pass
        
        
dog = Dog()
dog.speak()

animal speak

In [22]:
class Animal:
    def __init__(self,name1):
        self.name1 = name1
        
    def speak():
        print("animal makes sound")
        
class Dog(Animal):
    def __init__(self,name1,breed):
        super().__init__(name1)
        self.breed = breed
        #self.name = name
    def speak(self):
        print("Dogs barks")
        
obj = Dog('tommy','labra')
print(obj.name1)
obj.speak()

tommy
Dogs barks

In [10]:
class Animal:
    #@staticmethod
    def speak(self):
        print('animal sounds')
        
class Dog(Animal):
    def speak(self):
        print('vow')
        
class Cat(Animal):
    def speak(self):
        print('meow')
        
dog = Dog()
cat = Cat()

dog.speak()
Animal.speak("gbb")

vow
animal sounds

In [10]:
class calculator:
    def add(self,a,b):
        return (a+b)
    

    def add(self,a,b,c):
        return (a+b+c)
    
    
    def add(self,a,b,c):
        return (a+b+c)
obj1 = calculator()
obj1.add(2,3,4)

9

In [2]:
class A:
    def __init__(self):
        self.attribute = "value"
        
car = A()
car.attribute

'value'

In [5]:
class A:
    def __init__(self):
        self.attribute = "value"
        
    def func(self):
        print(self.attribute)
    
car = A()
car.func()

value

In [17]:
class Animal:
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        print('sound') 
    
class Dog(Animal):
    def __init__(self,name,breed):  #this __init__ method does't call the Animal class's __init__ method, so if we dont use super(), that means name will not defined
        super().__init__(name)
        self.breed = breed
        
    def speak(self):
        print('woof')
    
My_Dog = Dog('tommy','labra')

print(My_Dog.name)
My_Dog.speak()
print(My_Dog.breed)

tommy
woof
labra

In [15]:
class Animal:
    def __init__(self, name):
        self.name = name
        
    def speak(self):
        print('sound') 
    
class Dog(Animal):
    def __init__(self, name, breed):
        #super().__init__(name)  # Initialize the name attribute from the Animal class
        self.breed = breed
        
    def speak(self):
        print('woof')

My_Dog = Dog('tommy', 'labra')

print(My_Dog.name)   # Output: tommy
My_Dog.speak()       # Output: woof
print(My_Dog.breed)  # Output: labra

AttributeError: 'Dog' object has no attribute 'name'

In [23]:
# Define a function that divides two numbers
def divide(x, y):
    try:
        result = x / y
        print("Division result:", result)
    except ZeroDivisionError:
        print("Error: Division by zero!")
    except TypeError:
        print("Error: Unsupported operand types!")
    except Exception as e:
        print("An error occurred:", e)

# Test the divide function with different inputs
divide(10, 5)   # Output: Division result: 5.0
divide(10, 0)   # Output: Error: Division by zero!
divide(10, '2') # Output: Error: Unsupported operand types!

Division result: 2.0
Error: Division by zero!
Error: Unsupported operand types!

In [35]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9,'q','w','e','r','t']
l2 = list(enumerate(l1, start=0))
print(l2)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9), (9, 'q'), (10, 'w'), (11, 'e'), (12, 'r'), (13, 't')]

In [46]:
import pandas as pd
scrape = pd.read_html('https://en.wikipedia.org/wiki/List_of_highest-grossing_Indian_films')
for index,table in enumerate(scrape):
    print("-----------")
    #print(index)
    print(table)
movie = DataFrame.scrape[0].head()
movie

-----------
   0                                        1
0  *  Denotes films still playing in theatres
-----------
    Rank                            Title        Worldwide gross  \
0      1                           Dangal        ₹2,023.81 crore
1      2      Baahubali 2: The Conclusion       ₹1,810.595 crore
2      3                              RRR        ₹1,387.26 crore
3      4                   KGF: Chapter 2     ₹1,200–1,250 crore
4      5                            Jawan        ₹1,148.32 crore
5      6                          Pathaan         ₹1,050.3 crore
6      7                Bajrangi Bhaijaan   ₹918.18–969.06 crore
7      8                           Animal          ₹917.82 crore
8      9                 Secret Superstar    ₹875.78–905.7 crore
9     10                               PK  ₹750.595–769.89 crore
10    11       Salaar: Part 1 – Ceasefire         ₹705–715 crore
11    12                              2.0          ₹699.89 crore
12    13                          Gadar 2          ₹691.08 crore
13    14                           Sultan  ₹614.49–615.705 crore
14    15                           Jailer         ₹607–650 crore
15    16                              Leo       ₹595–620.5 crore
16    17         Baahubali: The Beginning         ₹600–650 crore
17    18                            Sanju          ₹586.85 crore
18    19                        Padmaavat          ₹571.98 crore
19    20                  Tiger Zinda Hai           ₹565.1 crore
20    21                          Dhoom 3          ₹556.74 crore
21    22                              War          ₹475.62 crore
22    23                          Tiger 3          ₹466.63 crore
23    24                            Dunki    ₹458.93–470.6 crore
24    25                        Andhadhun          ₹456.89 crore
25    26               Ponniyin Selvan: I         ₹450–500 crore
26    27                           Vikram         ₹435–500 crore
27    28                            Saaho         ₹419–439 crore
28    29     Brahmāstra: Part One – Shiva    ₹418.8–430.77 crore
29    30                           Simmba          ₹400.19 crore
30    31                         3 Idiots   ₹397.08–400.61 crore
31    32                  Chennai Express   ₹395.92–424.54 crore
32    33                          Kantara       ₹393.3–450 crore
33    34                         Krrish 3          ₹393.37 crore
34    35                      Kabir Singh          ₹379.02 crore
35    36                          Dilwale   ₹372.23–376.85 crore
36    37                          Tanhaji          ₹367.65 crore
37    38             Prem Ratan Dhan Payo   ₹365.46–388.48 crore
38    39                 Pushpa: The Rise         ₹365–373 crore
39    40                  Bajirao Mastani  ₹355.61–358.102 crore
40    41  Rocky Aur Rani Kii Prem Kahaani          ₹355.61 crore
41    42                        Adipurush             ₹354 crore
42    43                             Kick     ₹351.8–388.7 crore
43    44                   Happy New Year   ₹349.711–383.1 crore
44    45              Ponniyin Selvan: II             ₹350 crore
45    46                       Drishyam 2          ₹345.05 crore
46    47         Uri: The Surgical Strike          ₹342.06 crore
47    48                The Kashmir Files          ₹340.92 crore
48    49                          Fighter           ₹337.2 crore
49    50                     Ek Tha Tiger          ₹334.39 crore

   Primary language(s)  Year                  Ref.
0                Hindi  2016                  [11]
1         Telugu Tamil  2017      [12][13][14][11]
2               Telugu  2022               [a][16]
3              Kannada  2022                   [b]
4                Hindi  2023                  [28]
5                Hindi  2023                  [29]
6                Hindi  2015      [30][11][31][32]
7                Hindi  2023                  [33]
8                Hindi  2017      [34][11][30][32]
9                Hindi  2014      [34][11][35][30]
10              Telugu  2023              [36][37]
11               Tamil  2018              [38][39]
12               Hindi  2023                  [40]
13               Hindi  2016      [30][11][41][34]
14               Tamil  2023              [42][43]
15               Tamil  2023              [44][45]
16        Telugu Tamil  2015              [13][46]
17               Hindi  2018                  [47]
18               Hindi  2018                  [48]
19               Hindi  2017                  [49]
20               Hindi  2013                  [50]
21               Hindi  2019              [51][52]
22               Hindi  2023                  [53]
23               Hindi  2023                  [54]
24               Hindi  2018                  [55]
25               Tamil  2022              [56][57]
26               Tamil  2022  [58][59][60][61][62]
27        Telugu Hindi  2019              [13][51]
28               Hindi  2022              [63][64]
29               Hindi  2018                  [65]
30               Hindi  2009          [11][30][66]
31               Hindi  2013              [11][67]
32             Kannada  2022           [59][c][82]
33               Hindi  2013                  [83]
34               Hindi  2019                  [84]
35               Hindi  2015              [11][85]
36               Hindi  2020                  [86]
37               Hindi  2015                  [30]
38              Telugu  2021                   [d]
39               Hindi  2015                  [63]
40               Hindi  2023                  [63]
41        Hindi Telugu  2023          [89][90][91]
42               Hindi  2014                  [92]
43               Hindi  2014              [93][92]
44               Tamil  2023                  [94]
45               Hindi  2022                  [95]
46               Hindi  2019              [63][96]
47               Hindi  2022              [97][59]
48               Hindi  2024                  [98]
49               Hindi  2012                  [99]
-----------
   Rank            Title Worldwide gross  Year Reference(s)
0     1    Sri Raghupati    ₹13.81 crore  2023        [102]
1     2         Ratnakar       ₹10 crore  2019        [103]
2     3    Kanchanjangha        ₹7 crore  2019        [104]
3     4  Dr. Bezbaruah 2        ₹7 crore  2023        [105]
4     5    Mission China        ₹6 crore  2017        [106]
-----------
   Rank                    Title Worldwide gross  Year Reference(s)
0     1          Amazon Obhijaan    ₹48.63 crore  2017   [107][108]
1     2            Chander Pahar       ₹20 crore  2013        [109]
2     3                Projapati       ₹14 crore  2022        [110]
3     4     Boss 2: Back to Rule    ₹10.50 crore  2017        [111]
4     5                    Paglu     ₹9.95 crore  2011        [112]
5     6                    Sathi     ₹9.80 crore  2002        [112]
6     7      Paran Jai Jaliya Re     ₹9.50 crore  2009        [112]
7     8  Karnasubarner Guptodhon     ₹9.25 Crore  2022        [113]
8     9                    Nabab     ₹9.10 crore  2017        [114]
9    10                 Rangbaaz        ₹9 crore  2013        [115]
-----------
    Rank                   Title Worldwide gross    Year Reference(s)
0      1   Sasura Bada Paisawala       ₹35 crore  2003.0        [116]
1      2                   Ganga       ₹35 crore  2006.0        [116]
2      3                Pratigya       ₹22 crore  2008.0        [116]
3      4                  Border       ₹19 crore  2018.0        [116]
4      5      Nirahua Hindustani       ₹14 crore  2014.0        [116]
5      5  Mehandi Laga Ke Rakhna       ₹14 crore  2017.0        [116]
6  [116]                     NaN             NaN     NaN          NaN
7  [116]                     NaN             NaN     NaN          NaN
-----------
   0                                        1
0  *  Denotes films still playing in theatres
-----------
   Rank                           Title Worldwide gross  Year     Reference(s)
0     1              Chaal Jeevi Laiye!    ₹52.14 crore  2019            [117]
1     2                          3 Ekka    ₹26.11 crore  2023            [118]
2     3  Desh Re Joya Dada Pardesh Joya       ₹22 crore  1998       [119][120]
3     4               Kehvatlal Parivar     ₹21.5 crore  2022            [121]
4     5                      Shu Thayu?       ₹21 crore  2018            [122]
5     6              Fakt Mahilao Maate       ₹20 crore  2022            [123]
6     7                   Chhello Divas       ₹18 crore  2015       [119][124]
7     8                    Sharato Lagu     ₹17.5 crore  2018            [122]
8     9                         Hellaro       ₹16 crore  2019  [125][126][127]
9    10             Gujjubhai the Great       ₹15 crore  2015            [128]
-----------
   0                                        1
0  *  Denotes films still playing in theatres
-----------
   Rank              Title        Worldwide gross  Year      Reference(s)
0     1             Dangal        ₹2,023.81 crore  2016              [11]
1     2              Jawan        ₹1,148.32 crore  2023              [28]
2     3            Pathaan        ₹1,050.30 crore  2023             [133]
3     4  Bajrangi Bhaijaan          ₹969.18 crore  2015              [31]
4     5             Animal          ₹917.82 crore  2023              [33]
5     6   Secret Superstar    ₹875.78–905.7 crore  2017  [34][11][30][32]
6     7                 PK    ₹750.6–769.89 crore  2014              [35]
7     8            Gadar 2          ₹691.08 crore  2023              [40]
8     9             Sultan  ₹614.49–615.705 crore  2016              [41]
9    10              Sanju          ₹586.85 crore  2018             [134]
-----------
         Rank           Title     Worldwide gross    Year Reference(s)
0           1  KGF: Chapter 2  ₹1,200–1,250 crore  2022.0          [e]
1           2         Kantara   ₹393.30–450 crore  2022.0      [59][f]
2           3  KGF: Chapter 1          ₹250 crore  2018.0        [144]
3           4    Vikrant Rona   ₹158.50–210 crore  2022.0          [g]
4           5           James          ₹151 crore  2022.0        [152]
5           6     777 Charlie          ₹105 crore  2022.0        [152]
6           7         Kaatera      ₹104.58 crores  2023.0          NaN
7           8         Roberrt          ₹102 crore  2021.0        [153]
8           9     Kurukshetra           ₹90 crore  2019.0        [144]
9          10     Raajakumara           ₹75 crore  2017.0        [154]
10  ₹75 crore             NaN                 NaN     NaN          NaN
-----------
   Rank                    Title Worldwide gross  Year         Ref.
0     1         Manjummel Boys *      ₹220 crore  2024   [155][156]
1     2                     2018   ₹175.50 crore  2023   [157][158]
2     3              Pulimurugan      ₹152 crore  2016          [h]
3     4                  Premalu      ₹135 crore  2024   [165][166]
4     5                  Lucifer      ₹127 crore  2019        [167]
5     6                     Neru       ₹86 crore  2023   [168][169]
6     7          Bheeshma Parvam       ₹85 crore  2022        [170]
7     7               Bramayugam       ₹85 crore  2024        [171]
8     9  RDX: Robert Dony Xavier    ₹84.55 crore  2023  [172] [158]
9    10             Kannur Squad       ₹82 crore  2023        [158]
-----------
    0                                                  1
0  #+  Implies that the film is a multilingual and th...
-----------
   Rank                     Title Worldwide gross  Year Reference(s)
0     1                    Sairat      ₹110 crore  2016   [174][175]
1     2        Baipan Bhaari Deva     ₹90.5 crore  2023   [176][177]
2     3  Sachin: A Billion Dreams    ₹76.86 crore  2017        [178]
3     4                       Ved       ₹75 crore  2022   [179][180]
4     5                 Natsamrat       ₹48 crore  2016        [181]
5     6                Pawankhind       ₹43 crore  2022        [182]
6     7     Katyar Kaljat Ghusali       ₹40 crore  2015        [183]
7     7                Timepass 2       ₹40 crore  2015        [184]
8     9              Dagadi Chawl       ₹37 crore  2015        [185]
9    10                Lai Bhaari       ₹35 crore  2014        [186]
-----------
   Rank                          Title Worldwide gross  Year Reference(s)
0     1                   Balunga Toka        ₹4 crore  2011        [187]
1     1                          Daman        ₹4 crore  2022        [188]
2     2  Raja Jhia Sathe Heigala Bhaba        ₹2 crore  2012        [189]
-----------
   Rank             Title Worldwide gross  Year Reference(s)
0     1  Carry on Jatta 3   ₹102.69 crore  2023        [190]
1     2          Mastaney       ₹69 crore  2023        [191]
2     3  Carry on Jatta 2    ₹57.67 crore  2018        [192]
3     4  Chal Mera Putt 2    ₹55.41 crore  2020        [193]
4     5   Saunkan Saunkne       ₹55 crore  2022        [194]
5     6       Honsla Rakh    ₹54.62 crore  2021        [195]
6     7            Shadaa    ₹52.75 crore  2019        [195]
7     8  Chaar Sahibzaade    ₹45.96 crore  2014        [196]
8     9         Sardaarji    ₹38.38 crore  2015        [197]
9    10      Manje Bistre    ₹31.74 crore  2017        [198]
-----------
   0                                        1
0  *  Denotes films still playing in theatres
-----------
    0                                                  1
0  #+  Implies that the film is a multilingual and th...
-----------
   Rank                        Title      Worldwide gross  Year Reference(s)
0     1  Baahubali 2: The Conclusion  ₹1,810.595 crore #+  2017     [13][14]
1     2                          2.0        ₹699.89 crore  2018     [38][39]
2     3                       Jailer       ₹607–650 crore  2023     [42][43]
3     4                          Leo    ₹595–620.50 crore  2023   [199][200]
4     5     Baahubali: The Beginning    ₹600–650 crore #+  2015     [13][46]
5     6           Ponniyin Selvan: I       ₹450–500 crore  2022   [201][202]
6     7                       Vikram       ₹435–500 crore  2022      [58][i]
7     8          Ponniyin Selvan: II           ₹350 crore  2023         [94]
8     9                       Varisu       ₹290–310 crore  2023          [j]
9    10                     Enthiran       ₹250–320 crore  2010        [209]
-----------
   0                                        1
0  *  Denotes films still playing in theatres
-----------
    0                                                  1
0  #+  Implies that the film is a multilingual and th...
-----------
   Rank                        Title      Worldwide gross  Year  \
0     1  Baahubali 2: The Conclusion  ₹1,810.595 crore #+  2017
1     2                          RRR      ₹1,387.26 crore  2022
2     3   Salaar: Part 1 – Ceasefire       ₹705–715 crore  2023
3     4     Baahubali: The Beginning    ₹600–650 crore #+  2015
4     5                        Saaho    ₹419–439 crore #+  2019
5     6             Pushpa: The Rise       ₹360–373 crore  2021
6     7                    Adipurush        ₹354 crore #+  2023
7     8                     Hanu-Man           ₹330 crore  2024
8     9      Ala Vaikunthapurramuloo       ₹262–280 crore  2020
9    10          Sarileru Neekevvaru           ₹260 crore  2020

      Reference(s)
0         [13][14]
1        [16][211]
2        [36][212]
3         [13][46]
4         [13][51]
5  [213][214][215]
6        [216][89]
7            [217]
8       [218][219]
9            [220]
-----------
   Rank                        Title          Gross   Language(s)  Year    Ref
0     1                          RRR     ₹223 crore        Telugu  2022  [221]
1     2  Baahubali 2: The Conclusion     ₹217 crore  Telugu Tamil  2017  [222]
2     3   Salaar: Part 1 – Ceasefire   ₹178.7 crore        Telugu  2023  [223]
3     4             K.G.F: Chapter 2  ₹165.37 crore       Kannada  2022  [224]
4     5                          Leo   ₹148.5 crore         Tamil  2023  [225]
5     6                    Adipurush     ₹140 crore  Telugu Hindi  2023    NaN
6     7                        Saaho     ₹130 crore  Telugu Hindi  2019  [226]
7     8                        Jawan     ₹129 crore         Hindi  2023  [227]
8     9                       Animal     ₹116 crore         Hindi  2023  [228]
9    10                      Pathaan     ₹106 crore         Hindi  2023  [229]
-----------
    Year             Title           Director  \
0   1940           Zindagi  Pramathesh Baruah
1   1941         Khazanchi    Moti B. Gidwani
2   1942            Basant  Amiya Chakravarty
3   1943            Kismet     Gyan Mukherjee
4   1944            Rattan           M. Sadiq
..   ...               ...                ...
81  2020           Tanhaji                NaN
82  2021  Pushpa: The Rise                NaN
83  2022               RRR                NaN
84  2023             Jawan                NaN
85  2024         Fighter *                NaN

                     Worldwide gross Primary language(s)         Ref
0           ₹55 lakh ($1.58 million)          Hindustani    [n 2][k]
1           ₹70 lakh ($2.12 million)               Hindi  [n 4][234]
2           ₹80 lakh ($2.42 million)          Hindustani  [n 5][234]
3           ₹1 crore ($3.32 million)          Hindustani  [n 7][234]
4           ₹1 crore ($3.03 million)          Hindustani  [n 9][234]
..                               ...                 ...         ...
81        ₹368 crore (US$50 million)               Hindi        [86]
82        ₹365 crore (US$46 million)              Telugu       [344]
83  ₹1,387.26 crore (US$170 million)              Telugu   [16][211]
84  ₹1,148.32 crore (US$140 million)               Hindi        [28]
85      ₹337.2 crore (US$42 million)               Hindi       [345]

[86 rows x 6 columns]
-----------
        Month                        Title  Worldwide gross  Year        Ref.
0     January                      Pathaan   ₹1,050.3 crore  2023  [346][200]
1    February                    Gully Boy       ₹240 crore  2019       [347]
2       March                          RRR  ₹1,387.26 crore  2022       [348]
3       April  Baahubali 2: The Conclusion  ₹1,810.60 crore  2023       [349]
4         May      Yeh Jawaani Hai Deewani     ₹319.6 crore  2013       [350]
5        June                        Sanju    ₹586.85 crore  2018       [134]
6        July            Bajrangi Bhaijaan    ₹969.06 crore  2015        [ah]
7      August                      Gadar 2    ₹691.08 crore  2023       [352]
8   September                        Jawan  ₹1,148.32 crore  2023       [353]
9     October             Secret Superstar     ₹905.7 crore  2017        [ai]
10   November                          2.0    ₹699.89 crore  2018       [356]
11   December                       Dangal     ₹2,024 crore  2016       [357]
-----------
                                                     0  \
0    Rank Franchise / Series Total worldwide box of...
1                                                 Rank
2    1 YRF Spy Universe ₹2,892.04 5 ₹578 Pathaan (₹...
3                                                    1
4                                                    1
..                                                 ...
123  26 Maddock Supernatural Universe ₹301.06 3 ₹10...
124                                                 26
125                                                  1
126                                                  2
127                                                  3

                                 1                                       2  \
0                              NaN                                     NaN
1               Franchise / Series  Total worldwide box office (crore INR)
2                              NaN                                     NaN
3                 YRF Spy Universe                               ₹2,892.04
4              Pathaan (2023)[358]                                ₹1,050.3

NameError: name 'DataFrame' is not defined

In [2]:
def reverse(str):
    reversal = ''
    for i in range(len(str)-1,-1,-1):
        reversal +=str[i]
    return reversal
reverse ('soumik')

'kimuos'

In [5]:
def palindrome(str):
    reverse = ''
    for i in range(len(str)-1,-1,-1):
        reverse += str[i]
    if reverse.lower() == str.lower():
        return ('its a palindrome')
    else:
        return('not palindrome')
palindrome('Madam')

'its a palindrome'

In [11]:
def factorial(n):
    if n ==1:
        return n
    else:
        fact = n * factorial(n-1)
        return fact
factorial(4)

24

In [17]:
def factorial(n):
    if type(n) != int or n<0:
        return ('try again')
    elif n == 0 or n == 1:
        return n
    else:
        fact = n * factorial(n-1)
        
    return fact
factorial(4)


# def factorial(n):
#     if type(n) != int or n<0 :
#         return ('try ageain')
#     elif n==0 or n==1 :
#         return n
#     else:
#         fact = n * factorial (n-1)
#     return (fact)
# factorial(8.9)
# factorial(4)
# factorial(-9)

24

In [2]:
import requests
from bs4 import BeautifulSoup

# Define the URL of the webpage to scrape
url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

# Send a GET request to the webpage
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the HTML content of the webpage
    soup = BeautifulSoup(response.content, 'html.parser')

    # Extract specific data from the webpage
    # For example, let's extract the titles of all the articles
    article_titles = []
    for article in soup.find_all('article'):
        title = article.find('h2').text
        article_titles.append(title)

    # Print the extracted article titles
    for title in article_titles:
        print(title)
else:
    print('Failed to retrieve webpage. Status code:', response.status_code)

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.amazon.com/s?i=specialty-aps&bbn=16225007011&rh=n%3A16225007011%2Cn%3A13896617011&language=en_US&currency=INR&ref=nav_em__nav_desktop_sa_intl_computers_tablets_0_2_6_4"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"
}

response = requests.get(url, headers = headers)
soup = BeautifulSoup(response.content, 'html.parser')

product = []
price = []
rating = []
review = []

# Extract data from the HTML content
for product in soup.find_all("div", class_="a-section a-spacing-none"):# title-instructions-style
    product_name_tag = product.find("span", class_="a-size-mini")# a-size-medium
    product_price_tag = product.find("span", class_="a-price-whole") # a-price
    product_rating_tag = product.find("span", class_="a-row a-size-small")#  a-icon-alt
    product_review_count_tag = product.find("span", class_="a-size-base ")#  a-size-base
    
    
    if product_name_tag :
        product.append(product_name_tag.text.strip())
    else:
        product.append('unavailable')
        
    if product_price_tag:
        prices.append(product_price_tag.text.strip())
    else:
        prices.append("Not available")

    if product_rating_tag:
        ratings.append(product_rating_tag.text.strip())
    else:
        ratings.append("Not available")

    if product_review_count_tag:
        reviews.append(product_review_count_tag.text.strip())
    else:
        reviews.append("Not available")
        
        
data = {
    "Product": product,
    "Price": price,
    "Rating": rating,
    "Reviews": review
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

Empty DataFrame
Columns: [Product, Price, Rating, Reviews]
Index: []

In [7]:

import requests
from bs4 import BeautifulSoup
import pandas as pd
h1_tags = soup.find_all('div')
if div_tags:
    print(div_tags[0].text)
else:
    print("No <div> tags found")

NameError: name 'div_tags' is not defined

In [10]:
class car:
    def __init__(self,make,model,year):  # 3 attributes
        
        self.make = make
        self.model = model
        self.year = year
    
    def get_make(self):                 # 4 methods
        return self.make
    
    def get_model(self):
        return self.model
    
    def get_year(self):
        return self.year
    
    def get_calculate_age(self,current_year):
        return current_year - self.year
    

# Create an instance of Car 

my_car = car('Honda','shine',2018)


# Operate on the data (attributes) into a single unit (a class)

print(my_car.get_make())
print(my_car.get_model())
print(my_car.get_year())

# Control access to that unit (car) by calling the method to calculate the age

print(my_car.get_calculate_age(2024))

Honda
shine
2018
6

In [ ]:
# Define a class representing a Car
class Car:
    def __init__(self, make, model, year):
        self._make = make  # Public attribute
        self._model = model  # Public attribute
        self._year = year  # Public attribute

    def get_make(self):
        return self._make

    def get_model(self):
        return self._model

    def get_year(self):
        return self._year

    def _calculate_age(self, current_year):
        return current_year - self._year

# Create an instance of Car
my_car = Car("Toyota", "Camry", 2018)

# Show the data (attributes) and functions
print("Data:")
print("Make:", my_car.get_make())
print("Model:", my_car.get_model())
print("Year:", my_car.get_year())

print("\nFunctions:")
print("Age:", my_car._calculate_age(2024))

# Bundle data (attributes) and methods (functions) into a single unit (a class)
class Car:
    def __init__(self, make, model, year):
        self._make = make  # Public attribute
        self._model = model  # Public attribute
        self._year = year  # Public attribute

    def get_make(self):
        return self._make

    def get_model(self):
        return self._model

    def get_year(self):
        return self._year

    def _calculate_age(self, current_year):
        return current_year - self._year

# Create an instance of Car
my_car = Car("Toyota", "Camry", 2018)

# Operate on the data (attributes) into a single unit (a class)
print("\nOperate on the data into a single unit (a class):")
print("Make:", my_car.get_make())
print("Model:", my_car.get_model())
print("Year:", my_car.get_year())
print("Age:", my_car._calculate_age(2024))

# Control access to that unit by calling the method to calculate the age
print("\nControl access to that unit:")
print("Age:", my_car._calculate_age(2024))

In [11]:
import numpy as np
start = np.zeros((4,4))
start= start+100
start

array([[100., 100., 100., 100.],
       [100., 100., 100., 100.],
       [100., 100., 100., 100.],
       [100., 100., 100., 100.]])

In [16]:
start = 100 * np.ones((4,4))
start

array([[100., 100., 100., 100.],
       [100., 100., 100., 100.],
       [100., 100., 100., 100.],
       [100., 100., 100., 100.]])

In [ ]:
add